<h1>Before</h1>
<% render Components::Nav.new do |n| %>
  <% n.item("/") do %>
    Home
  <% end %>
  <%= n.divider %>
  <%= n.item("/about") do %>
    <strong>About</strong>
  <% end %>
<% end %>
<h1>After</h1>
