name: CI
on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']
jobs:
  specs:
    strategy:
      matrix:
        os: ['ubuntu-latest', 'macos-latest']
        ruby-version: ['2.7', '3.0', '3.1', 'head']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3

      - name: phlex/setup
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true

      - name: Tests
        run: bundle exec sus

      - name: Type-check
        run: bundle exec solargraph typecheck --level typed

      - name: Rubocop
        run: bundle exec rubocop
